.navbar {
    background-color: transparent !important;
    padding-left: 14px !important;
    padding-right: 10px !important;
}

.navbar-font {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    gap: 1px;
}

.navbar-active {
    background-color: #B73E3E !important;
    color: #fff !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);  
    box-shadow: 0 3px 20px #aba9a9;
}

.font-color {
    color: #444 !important;
}

.color-active {
    color: #fff !important;
}